.git
.github

config.toml
*.local
**/.env.local
**/.env.*.local

data/
**/clb.db
**/clb.db-*

sigmo
sigmo-*
*.test
*.out
coverage.out

build/
dist/
tmp/
web/node_modules/
web/dist/
web/.eslintcache
web/*.tsbuildinfo

.env
.env.*
.DS_Store
